html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
a:hover{
  color: black;
  transition-duration: 0.3s;
  text-decoration: none;
}

@font-face {
  font-family: SF;
  src:url('../fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SF-R;
  src:url('../fonts/1.ttf')format('woff');
  font-weight: normal;
  font-style: normal;
}
.wh{
  color: #fff;
  font-family: SF-R;
}
.bl{
  color: #000;
  font-family: SF-R;
}

.fs-1{
    font-size: 1.5vh;
}
.fs-3{
    font-size: 3vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.first-container{
  width: 100vw;
  height: 100vh;
}

.black{  /* нихера не белый но для названия навигации*/
  color: #666;
  font-family: SF;
  font-size: 0.8em;
}

.sf-thin{
  font-family: SF;
  letter-spacing: 0.5rem;
  font-size: 3vw;
  line-height: 1.5;
}

.art{
  width: 10vw;
  height: auto;
}


/* https://github.com/pixelcog/parallax.js/tree/v2.0.0-alpha */
.project{
  min-height: 140vh;
}

.parallax-container{
  min-height: 100vh;
  background: transparent;
}

.scrollingElement{
  overflow: scroll;
  position: absolute;
  top: 213px;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.vlad{
  max-width: 60vw;
  box-sizing: content-box;
}

.annotation{
  background-color: #121211;
  min-height: 40vh;
}

.qq{
  width: 60vw;
  position: relative;
  margin: 0 auto;
  text-align: justify;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count: 2;

 }
