.container {
  max-width: 960px;
}

.site-header {
  background-color: #EDE9DB;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  text-decoration: none;
}
