@font-face {
  font-family: san;
  src:url('../fonts/post/SFUIText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SF;
  src:url('../fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    color: white;
}
body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #121212;
  }

.post_title a{color: white;}
.post_title a:hover{color: white;}
.excerption{}

a:hover{
  color: grey;
  transition-duration: 0.3s;
  text-decoration: none;
}

.nav-item{
  color: #fff;
  font-family: san;
  font-size: 0.7em;
  text-transform: uppercase;
}

.name{

}

@media (max-width: 800px) {
    .inner-center-sm{
      margin: 40vh auto;
      text-align: center;

    }
    .art{display: none;}
    .container{height: 100vh;}
}


.wh{
  color: #fff;
  font-family: san;

}
.bl{
  color: #000;
  font-family: SF-R;
}

.fs-1{
    font-size: 1.5vh;
}
.fs-3{
  text-align: center;
    font-size: 3vh;
}


.first-container{
  width: 100vw;
  height: 100vh;
}

.black{  /* для названия навигации*/
  color: #fff;
  font-family: san;
  font-size: 0.8em;
  letter-spacing: 0.1rem;
}

.sf-thin{
  font-size: 1.5rem;
  color: #fff;
  font-family: san;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  text-transform: uppercase;


}


.art{
    opacity: 0.9;
    width: 50vw;
    height: auto;

}

.post-image{
  min-height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  opacity: 1;
}


.vlad{
  max-width: 40vw;
  box-sizing: content-box;
}


.annotation{
  color: #fff;
  opacity: 0.87;
  font-size: 0.7rem;
  min-height: auto;
  padding: 3vh 0 3vh 0;
  width: 60vw;
  position: relative;
  margin: 0 auto;
  text-align: justify;

  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count: 2;
}
@media (min-width: 800px) and (max-width: 1200px) {
  .annotation {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;

    padding: 3vh 5vw;
    width: 90vw;
    font-size: 0.7rem;

  }
}
@media (max-width: 800px) {
  .annotation {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    width: auto;
    padding: 3vh 5vw;
    font-size: 0.7rem;

  }
}
