@font-face {
  font-family: san;
  src:url('../fonts/post/SFUIText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SF;
  src:url('../fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #121212;
  max-width: 100%;
  overflow-x: hidden;
  color: white;
  padding-top: 20px;
}


#navbar_alpha{
  background-color: black;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.7s;
  transition-timing-function: cubic-bezier(.19,1,.22,1);
  z-index: 100;
}

a:hover{
  color: grey;
  transition-duration: 0.3s;
  text-decoration: none;
}

.nav-item{
  color: #fff;
  font-family: san;
  font-size: 0.7em;
  text-transform: uppercase;
  position:  sticky;
}

@media (max-width: 800px) {
    .inner-center-sm{
      margin: 40vh auto;
      text-align: center;
    }
    .art-top{display: none;}
    .art-bottom{display: none;}
    .art-particle{display: none;}
    .container{height: 100vh;}
    .art{
      display: none;
    }
}


}
.bl{
  color: #000;
  font-family: SF-R;
}


.black{  /* для названия навигации*/
  color: #fff;
  font-family: san;
  font-size: 0.8em;
  letter-spacing: 0.1rem;
}

.sf-thin{
  font-size: 1.5rem;
  color: #fff;
  font-family: san;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.container{
  max-width: 1170px !important;
}
/* future art */
.art{
  padding: 2em;
  position: relative;
  min-width: 30%;
}

.art-top:hover, .art-particle:hover, .art-bottom:hover{
  transform: translate(0, 20px);
}
.art-top{
  position: relative;
  width: 20em;
  transition: all 1s ease 0s;
}
.art-bottom{
  opacity: 1;
  position:  relative;
  width: 20em;
  transition: all 1s ease 0s;
}
.art-particle{
  opacity: 1;
  position: relative;
  width: 5em;
  bottom: 20vh;
  transition: all 1s ease 0s;
}
/* ------*/

/* post */
.post-image{
  height: 100vh;
  width: 100%;

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  opacity: 1;
}
.post-container{
  font-family: san;
  font-size: 0.8em;
  max-width: 1170px;
  margin: 0 auto;



}

.post_title a, h1{color: white; font-size: 1.5em;}
.post_title a:hover{color: white;}
.excerption{color: white; font-size: 1em; font-family: san; margin: 0 auto;}


/* annotation */
.annotation{
  color: #fff;
  opacity: 0.87;
  font-size: 0.7rem;
  min-height: auto;
  max-width: 1170px;
  padding: 3vh 0 3vh 0;
  position: relative;
  margin: 0 auto;
  text-align: justify;



  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count: 2;
}
@media (min-width: 800px) and (max-width: 1200px) {
  .annotation {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;

    padding: 3vh 5vw;
    width: 90vw;
    font-size: 0.7rem;

  }
}
@media (max-width: 800px) {
  .annotation {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    width: auto;
    padding: 3vh 5vw;
    font-size: 0.7rem;

  }
}
