@font-face {
  font-family: SF;
  src:url('../fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: SF-R;
  src:url('../fonts/sf-ui-display-medium-58646be638f96.woff')format('woff');
  font-weight: normal;
  font-style: normal;
}
.wh{
  color: #fff;
  font-family: SF-R;
}
.bl{
  color: #000;
  font-family: SF-R;
}

.fs-1{
    font-size: 1.5vh;
}
.fs-3{
    font-size: 3vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.first-container{
  width: 100vw;
  min-height: 100vh;
}

.black{  /* нихера не белый но для названия навигации*/
  color: #666;
  font-family: SF;
}

.sf-thin{
  font-family: SF;
  letter-spacing: 0.5rem;
  font-size: 4vw;
  line-height: 1.5;
}

.art{
  width: 10vw;
  height: auto;
}


/* https://github.com/pixelcog/parallax.js/tree/v2.0.0-alpha */


.parallax-container{
  min-height: 60vh;
  background: transparent;

}

.scrollingElement{
  overflow: scroll;
  position: absolute;
  top: 213px;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.annotation{
  background-color: #2a2c2b;
  min-height: 40vh;
}
