
<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      $(function(){
        if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {
          $('#ios-notice').removeClass('hidden');
          $('.parallax-container').height( $(window).height() * 0.5 | 0 );
        } else {
          $(window).resize(function(){
            var parallaxHeight = Math.max($(window).height() * 0.7, 200) | 0;
            $('.parallax-container').height(parallaxHeight);
          }).trigger('resize');
        }
      });
    </script>
    <script src="../../static/js/jquery.parallax.js"></script>


  <title>Kvantorium journal</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

</head>
<body>
<div class="bg first-container">
    <div class="d-flex flex-column flex-row align-items-center px-md-3 mb-2 border-bottom">
      <nav class="my-1 my-md-2">
        <a class="p-1 m-sm-5 black" href="#">команды</a>
        <a class="p-1 m-sm-5 black" href="#">цели</a>
        <a class="p-1 m-sm-5 black" href="#">о проекте</a>
      </nav>
  </div>

  <div class="container">
        <div class="row">
          <div class="pt-5 mb-3 col">
              <h1  class='sf-thin'>The children science</h1>
              <h1 class='sf-thin'>and engineering </h1>
              <h1 class='sf-thin'>journal</h1>
          </div>
        <img src="../../static/img/art.png" class="art pt-5 mb-3 col">
        </div>
  </div>
</div>

<div class="first-container">
  <div class="parallax-container" data-parallax data-scrolling-selector=".scrollingElement" data-bleed="50" data-speed="0.2" data-src="../../static/img/photo_2020-06-21_21-33-30.jpg">
    <div class="container-fluid">
      <h2 class="d-flex justify-content-center wh fs-3 pt-5">Солнечная энергетика - рывок в мирное будущее</h2>
      <p class="d-flex justify-content-center wh fs-1 pt-5">Гибкие солнечные элементы, способные принимать практически любые формы,
       в самом деле открывают новые горизонты для человеческого воображения</p>
    </div>
  </div>

  <section class="annotation">
    <h2 class="wh"></h2>
  </section>
</div>

<div class="first-container">
  <div class="parallax-container" data-parallax data-scrolling-selector=".scrollingElement" data-bleed="50" data-speed="0.2" data-src="../../static/img/3.jpg">
    <div class="container-fluid">
      <h2 class="d-flex justify-content-center wh fs-3 pt-5">Распределенная генерация электроэнергии</h2>
      <p class="d-flex justify-content-center wh fs-1 pt-5">Гибкие солнечные элементы, способные принимать практически любые формы,
       в самом деле открывают новые горизонты для человеческого воображения</p>
    </div>
  </div>

  <section class="annotation">
    <h2 class="wh"></h2>
  </section>
</div>

</body>
</html>
